.main-contact-wrapper{
  @include main-wrapper;
  margin-bottom: 30px;
}
.contact-wrapper{
  @include flex($direction:column, $justify:space-between, $align:center);
  gap:30px;
}

.contact-sections-wrapper{
  @include flex($direction:column, $justify:space-between, $align:center);
}
.contact-section-1{
  @include flex($direction:column, $justify:flex-start, $align:flex-start);
}
.contact-section-2{
  @include flex($direction:row, $justify:flex-start, $align:flex-start);
  gap:30px;
}
